---
import Logo from "../assets/logo.webp";
import { Image } from "astro:assets";
import styles from "../css/header.module.css";
import Btn from "../ui/Button.astro";
---

<header class={styles.header} id="header">
  <div class={styles.inner}>
    <Image
      src={Logo}
      alt="Logo de dualsym"
      class={styles.logo}
      loading="eager"
    />

    <nav class={styles.menu} aria-label="Navegación principal">
      <ul class={styles.container_item}>
        <li><a href="#servicios" class={styles.item}>Servicios</a></li>
        <li><a href="#nosotros" class={styles.item}>Nosotros</a></li>
        <li><a href="#proceso" class={styles.item}>Procesos</a></li>
        <li>
          <Btn label="Contactar" href="#contactos" />
        </li>
      </ul>
    </nav>

  </div>
</header>



<script is:inline>
  // Glass effect optimizado
  let ticking = false;

  window.addEventListener(
    "scroll",
    () => {
      if (!ticking) {
        window.requestAnimationFrame(() => {
          header?.classList.toggle("glass", window.scrollY > 5);
          ticking = false;
        });
        ticking = true;
      }
    },
    { passive: true }
  );
</script>